
/*________________________ HAPPY TEXT start __________________*/
/*			https://codepen.io/bennettfeely/pen/AgbQRQ?editors=1100*/

#key_btns {
  /* font-size: 5em;*/
  /* font:bold 7.5vw/1.6 'Signika', sans-serif;*/
  user-select: none;
}

.jump span {
  /*   display:inline-block;  */
  animation: jumping 0.2s ease-in-out infinite;
}
@keyframes jumping {
  0%,
  100% {
    transform: none;
  }
  33% {
    transform: translateY(-1px) rotate(-2deg);
  }
  66% {
    transform: translateY(1px) rotate(2deg);
  }
}
/*________________________ HAPPY TEXT end __________________*/

.space {
  height: 40px;
  margin-top: 50px;
}

.space::after {
  position: absolute;
  top: 16px;
  left: calc(50% - 20px);
  width: 40px;
  height: 6px;
}
