/*
Background image:
https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/
Rotating digits:
https://codepen.io/mohaiman/pen/MQqMyo?editors=1100
*/
/*@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', 'Courier', monospace;
  /*  font-size: 18px;*/
  /*  line-height: 24px;*/
  color: #fef9f9;
  background-color: #2b3755;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1141' height='570.5' viewBox='0 0 1600 800'%3E%3Cpath fill='%23FF7' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%235ff' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill-opacity='0.35' fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  /*
background-color: #121724;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23121724' cx='50' cy='0' r='50'/%3E%3Cg fill='%23151b2a' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23181f30' cx='50' cy='100' r='50'/%3E%3Cg fill='%231b2336' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%231f273d' cx='50' cy='200' r='50'/%3E%3Cg fill='%23222b43' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%2325304a' cx='50' cy='300' r='50'/%3E%3Cg fill='%23283450' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%232c3857' cx='50' cy='400' r='50'/%3E%3Cg fill='%232f3d5e' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23334165' cx='50' cy='500' r='50'/%3E%3Cg fill='%2336466c' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%233a4b73' cx='50' cy='600' r='50'/%3E%3Cg fill='%233d4f7a' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23415481' cx='50' cy='700' r='50'/%3E%3Cg fill='%23455988' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23495d90' cx='50' cy='800' r='50'/%3E%3Cg fill='%234c6297' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2350679f' cx='50' cy='900' r='50'/%3E%3Cg fill='%23546ca6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%235871AE' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;
*/
}
.header span {
  margin-right: 20px;
}
.h1_stand {
  color: rgba(185, 218, 242, 1);
}
.h1_bravo {
  color: rgba(16, 219, 166);
}
.h1_norm {
  color: yellow;
}
.h1_bad {
  color: rgba(237, 116, 116);
}

.p {
  font-size: 1.3em;
}
#error {
  color: rgb(224, 111, 111);
}
/*________________________ H1 animate start __________________*/
.header {
  /*	display: flex;*/
  margin: auto 1em;
  margin-top: 1.5em;
  font-weight: bold;
  text-align: center;
  /*	flex-grow: 1;*/
  font-size: 2em;
  text-shadow:
    0px -2px 0 #191f40,
    0px -2px 0 #191f40,
    0px 2px 0 #191f40,
    0px 2px 0 #191f40,
    -2px 0px 0 #191f40,
    2px 0px 0 #191f40,
    -2px 0px 0 #191f40,
    2px 0px 0 #191f40,
    -2px -2px 0 #191f40,
    2px -2px 0 #191f40,
    -2px 2px 0 #191f40,
    4px 3px 0 #191f40,
    0 6px 6px rgb(48 48 48 / 10%),
    0 0 2px rgb(0 0 0 / 10%),
    0 2px 2px rgb(0 0 0 / 30%),
    4px 6px 9px rgb(252 250 250 / 20%),
    0 6px 16px rgb(0 0 0 / 25%),
    0 11px 11px rgb(0 0 0 / 20%);

  transition: transform 1.5s ease-in-out;
  transform: scale(1);
}

.header.move {
  transform: scale(1.5);
  /*	opacity: 1;*/
} /*________________________ H1 animate end __________________*/

/*________________________ HAPPY TEXT start __________________*/
/*			https://codepen.io/bennettfeely/pen/AgbQRQ?editors=1100*/

#key_btns {
  /* font-size: 5em;*/
  /* font:bold 7.5vw/1.6 'Signika', sans-serif;*/
  user-select: none;
}

.jump span {
  /*   display:inline-block;  */
  animation: jumping 0.2s ease-in-out infinite;
}
@keyframes jumping {
  0%,
  100% {
    transform: none;
  }
  33% {
    transform: translateY(-1px) rotate(-2deg);
  }
  66% {
    transform: translateY(1px) rotate(2deg);
  }
}
/*
@keyframes bounce {
  0%,100%{ 
    transform:translate(0); }
  25%{ 
    transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ 
    transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}

*/

#key_btns span {
  /* default */
  background-image: linear-gradient(rgb(255 58 126), rgb(251 0 86)); /*pinc-red*/
}
#key_btns span:nth-child(6n + 1) {
  /*0,6*/
  background-image: linear-gradient(rgb(254, 234, 98), rgb(233, 202, 2)); /*yel*/
}
#key_btns span:nth-child(4n + 5) {
  /*4,8*/
  background-image: linear-gradient(rgb(165, 128, 245), rgb(91, 46, 188)); /*viol*/
}
#key_btns span:nth-child(4n + 2) {
  /*1,5,,9*/
  background-image: linear-gradient(rgb(251, 129, 85), rgb(245, 68, 4)); /*orange*/
}
#key_btns span:nth-child(4n + 4) {
  /*3,7*/
  background-image: linear-gradient(rgb(250, 88, 194), rgb(222, 2, 146)); /*pinc*/
}
#key_btns span:nth-child(7n + 3) {
  /*2,9*/
  background-image: linear-gradient(rgb(211, 246, 136), rgb(142, 200, 16)); /*green*/
}

#key_btns span:nth-child(3n + 3) {
  /*2,5,,8*/
  color: rgb(60, 138, 221);
  text-shadow:
    3px 3px 0 rgb(26, 70, 120),
    1px -1px 1px #fff; /*blue*/
}
#key_btns span:nth-child(3n + 4) {
  /*3,6,,9*/
  color: rgb(146, 199, 32);
  text-shadow:
    3px 3px 0 #51720b,
    1px -1px 1px #fff; /*green*/
}
#key_btns span:nth-child(3n + 5) {
  /*4,7*/
  color: rgb(252, 222, 27);
  text-shadow:
    3px 3px 0 rgb(139, 120, 8),
    1px -1px 1px #fff; /*yellow*/
}
#key_btns span:nth-child(8n + 1) {
  /*0,8*/
  color: rgb(241, 23, 110);
  text-shadow:
    3px 3px 0 #830036,
    1px -1px 1px #fff; /*pinc*/
}
#key_btns span:nth-child(8n + 2) {
  /*1,9*/
  color: rgb(137, 93, 232);
  text-shadow:
    3px 3px 0 #40287c,
    1px -1px 1px #fff; /*viol*/
}
/*________________________ HAPPY TEXT end __________________*/

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.computer {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 7.5em;
  margin-bottom: 2%;
  margin-top: 1%;
  padding: 16px 10px;
  border-bottom: 1px solid #222c44;
  background-color: #3c4d77;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='407' height='203.5' viewBox='0 0 1600 800'%3E%3Cpath fill='%23FF7' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%235ff' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill-opacity='0.28' fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}

.display-wrapper {
  border-radius: 6px;
  margin-bottom: 12px;
  padding: 4px;
  background-image: linear-gradient(to bottom, #1a2133, #4d6398);
}

.display {
  position: relative;
  overflow: auto;
  min-height: 2em;
  padding: 8px;
  word-wrap: break-word;
  border-radius: 4px;
  background-color: #2b3755;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

/*----------------------- Animate Exersices (start) --------------------			*/
.display > div > div {
  animation: anim_div 0.6s linear;
}

@keyframes anim_div {
  0% {
    transform: rotate(180deg) scale(0);
    opacity: 0;
  }

  50% {
    transform: rotate(0) scale(1.5);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}
/*----------------------- Animate Exersices (end) --------------------			*/

.res-right p div,
.display > div > div {
  padding-right: 0.5em;
  float: left;
}

.hint {
  font-size: 0.4em;
  color: #38d6f3;
  display: block;
}

.keyboard {
  position: relative;
  /*
  padding-right: 5px;
  padding-left: 10px;
*/
  padding: 0 10px;
}

.keyboard-line {
  /*
  display: flex;
  justify-content: center;
  flex-shrink: 1;
	flex-wrap: wrap;
*/
  text-align: center;
}

/*
.keyboard-line:nth-child(3) {
  margin-left: 12.5%;
  margin-right: 12.5%;
}
*/
.button,
#btn_enter {
  position: relative;
  margin: 0.2em;
  font: inherit;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: -1px -1px 0px black;
  color: inherit;
  border: none;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  /*  background-image: linear-gradient(to bottom, #4d6398, #334266);*/
  background-color: blue;
  background-image: -moz-linear-gradient(#bdd7fa, #5d66b1 35.71%, #010767 38.24%, #40def7);
  background-image: -webkit-linear-gradient(#bdd7fa, #5d66b1 35.71%, #010767 38.24%, #40def7);
  background-image: -o-linear-gradient(#bdd7fa, #5d66b1 35.71%, #010767 38.24%, #40def7);
  box-shadow: 0px 1px 11px #0e6b87;
}

.button.clear {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  float: right;
}

#btn_enter,
#next,
#btn_nextLev,
.category {
  margin: 50px 10px;
  padding: 0.5em 2em;
}

#btn_nextLev {
  animation: anim_btn_end_lev 1.5s linear;
}
/*-------------------------- Rotating end-level-text (start) --------------------------*/
@keyframes anim_btn_end_lev {
  0% {
    transform: translateY(-100px) scale(0);
    opacity: 0;
    /*        border-radius: 0;*/
  }

  50% {
    transform: translateY(200px) scale(1);
    opacity: 1;
    /*        border-radius: 0;*/
  }

  100% {
    transform: translateY(0);
  }
}

/*-------------------------- Rotating end-level-text (end) --------------------------*/

.key {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  margin: 0.1em;
  border-radius: 50%;
  width: 1.2em;
  display: inline-block;
}

.space {
  height: 40px;
  margin-top: 50px;
}

.space::after {
  position: absolute;
  top: 16px;
  left: calc(50% - 20px);
  width: 40px;
  height: 6px;
}

.button:focus,
#btn_enter:focus {
  outline: 3px solid rgba(252, 230, 239, 0.3);
  outline-offset: 1px;
}

.button:hover,
#btn_enter:hover {
  /*  background-image: linear-gradient(to bottom, #677cb2, #455887);*/
  background-image: -moz-linear-gradient(#bdd7fa, #5d66b1 35.71%, #3b3f85 38.24%, #40def7);
  background-image: -webkit-linear-gradient(#bdd7fa, #5d66b1 35.71%, #3b3f85 38.24%, #40def7);
  background-image: -o-linear-gradient(#bdd7fa, #5d66b1 35.71%, #3b3f85 38.24%, #40def7);
}

.button:active,
#btn_enter:active {
  background-image: none;
  background-color: #334266;
}
.proper_answ {
  color: aquamarine;
}

.bad_answ {
  color: #f06d70;
}
.color_ask {
  color: #3eaef2;
}

#results,
.end-level {
  text-align: center;
  padding: 2%;
  width: 100%;
}
#results h2 {
  /*	margin: 0 auto;*/
}
#results p {
  margin-bottom: 0;
  margin-top: 2px;
  font-size: 1.3em;
}

.end-level-text {
  font-size: 3em;
  font-weight: bold;
  text-shadow:
    0 -1px 0 #fff,
    0 7px 0 rgba(34, 34, 34, 0.32),
    0 8px 0 rgba(32, 32, 32, 0.31),
    0 9px 0 rgba(31, 31, 31, 0.35),
    0 10px 0 rgba(28, 28, 28, 0.28),
    0 11px 0 rgba(25, 25, 25, 0.28),
    0 22px 30px rgba(0, 0, 0, 0.38);
  color: #c7d1da;
  animation: anim_end_lev 1.5s linear;
}
/*-------------------------- Rotating end-level-text (start) --------------------------*/
@keyframes anim_end_lev {
  0% {
    transform: translateY(1000px) rotate(720deg) scale(0);
    opacity: 0;
    /*        border-radius: 0;*/
  }

  100% {
    transform: translateY(0) rotate(0deg) scale(1);
    opacity: 1;
  }
}

/*-------------------------- Rotating end-level-text (end) --------------------------*/
.res-left,
.res-right {
  float: left;
  text-align: left;
  width: 50%;
  display: inline-grid;
}

.res-left span {
  color: #c5e8fb;
}

.res-right p {
  color: #fad1d1;
}

.clear-both {
  clear: both;
}
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  /*
  width: 100%;
  height: 100%;
*/
  opacity: 0.2;
}

/*-------------------------- Rotating digits (start) --------------------------*/

.circles {
  /*    overflow: hidden;*/
  color: rgba(255, 255, 255, 0.07);
}

.circles li {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  list-style: none;
  font-family: 'Lobster', sans-serif;
  font-weight: bold;
  animation: animate 25s linear infinite;
  bottom: 0;
}

ul.bad_li li {
  color: rgb(240, 109, 112, 0.3);
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg) scale(1);
    opacity: 1;
    /*        border-radius: 0;*/
  }

  100% {
    transform: translateY(-1000px) rotate(720deg) scale(1.5);
    opacity: 0;
    /*        border-radius: 50%;*/
  }
}

/*-------------------------- Rotating digits (end) --------------------------*/
/*-------------------------- Progress Bar (start) --------------------------*/
.prog_block {
  float: left;
  width: 75%;
}
.progressbar {
  width: 0;
  height: 15px;
  border-radius: 8px;
  box-shadow:
    0 2px 0px 0px hsl(210, 90%, 35%),
    2px 5px 11px 1px hsl(210, 52.67%, 42.58%);
  background-color: hsl(210, 90%, 70%);
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 12%,
      rgba(255, 255, 255, 0.15) 15%,
      rgba(255, 255, 255, 0.15) 30%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.15) 70%,
      rgba(255, 255, 255, 0.15) 88%,
      rgba(255, 255, 255, 0) 88%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 25%,
      hsl(210, 90%, 40%) 25%,
      hsl(210, 90%, 40%) 50%,
      transparent 50%,
      transparent 75%,
      hsl(210, 90%, 40%) 75%,
      hsl(210, 90%, 40%) 100%
    );
  background-size:
    cover,
    50px 50px;
  background-position:
    top,
    0 0;
  text-indent: -999em;
  transition: width 0.5s linear;
  animation: loading 3s infinite linear;
}
@keyframes loading {
  0% {
    background-position:
      top,
      0 0;
  }
  100% {
    background-position:
      top,
      50px 0;
  }
}

#column_exs {
  float: left;
  font-size: 0.4em;
  text-align: right;
  max-width: 30%;
  margin: 0 15% 0 5%;
  border-collapse: collapse;
  transition:
    font-size 0.5s ease-in-out,
    margin 0.5s ease-in-out;
}
#column_exs tr:last-child {
  border-top: 1px solid white;
}
td.mp {
  padding-right: 5px;
}
.small_flat_exs {
  font-size: 0.5em;
  transition: font-size 0.5s ease-in-out;
}
#column_exs.big_column {
  font-size: 1em;
  margin: 0 20%;
  transition:
    font-size 0.5s ease-in-out,
    margin 0.5s ease-in-out;
}
.display > div {
  float: left;
  transition: font-size 0.5s ease-in-out;
}
/*-------------------------- Progress Bar (end) --------------------------*/

/*-------------------------- MEDIA (start) --------------------------*/

@media screen and (max-width: 600px) {
  .body {
    overflow: scroll;
  }
  .key {
    font-size: 2.4em;
    text-shadow:
      2px 2px 0 #413d4b,
      1px 0px 1px #fff !important;
  }
  .header {
    margin: auto 0;
    font-size: 1.1em;
    text-shadow: 1px 1px 1px #171d2e;
  }
  .display {
    font-size: 2em;
  }
  .display-wrapper {
    margin-bottom: 7px;
    padding: 0;
    border: inset #5e70a1 4px;
    background-image: none;
  }
  #btn_enter,
  #next,
  #btn_nextLev,
  .category {
    margin: 20px 10px;
    padding: 0.5em 1em;
  }
  .button,
  #btn_enter {
    font-size: 1.2em;
  }
  .progressbar {
    /*    height: 20px;*/
  }
  .res-right {
    display: none;
  }
  .res-left {
    width: 100%;
  }
}
@media screen and (orientation: landscape) and (max-height: 600px) {
  .body {
    overflow: scroll;
  }
  .key {
    font-size: 2.4em;
    text-shadow:
      2px 2px 0 #413d4b,
      1px 0px 1px #fff !important;
  }
  .header {
    margin: auto 0;
    font-size: 1.1em;
    text-shadow: 1px 1px 1px #171d2e;
  }
  .display {
    font-size: 2em;
  }
  .display-wrapper {
    margin-bottom: 7px;
    padding: 0;
    border: inset #5e70a1 4px;
    background-image: none;
  }
  #btn_enter,
  #next,
  #btn_nextLev,
  .category {
    margin: 20px 10px;
    padding: 0.5em 1em;
  }
  .button,
  #btn_enter {
    font-size: 1.2em;
    /*		float: right;*/
    margin-right: 7%;
  }
  .progressbar {
    /*    height: 20px;*/
  }
  .res-right {
    display: none;
  }
  .res-left {
    width: 100%;
  }
}
@media screen and (orientation: landscape) and (max-height: 350px) {
  .computer {
    float: left;
    width: 50%;
  }
}
