.KeyboardButton {
  background-image: linear-gradient(rgb(255 58 126), rgb(251 0 86)); /*pinc-red*/
  color: rgb(60, 138, 221);
  /* font-family: "Lobster", cursive; */
  font-size: 4em;
  margin: 0.1em;
  border-radius: 50%;
  width: 1.2em;
  display: inline-block;
}