.exercisePart {
  display: flex;
  flex-direction: column;
  animation: anim_part 0.6s linear;
}

@keyframes anim_part {
  0% {
    transform: rotate(180deg) scale(0);
    opacity: 0;
  }
  
  50% {
    transform: rotate(0) scale(1.5);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

.exsMain {
  font-size: 3em;
}

.exsHint {
  font-size: 1.5em;
  color: #38d6f3;
  display: block;
  white-space: nowrap;

  @media screen and (orientation: portrait) {
    font-size: 2em;
  }
}


.exsAskPart {
  color: #3EAEF2;
}