.exercisePart {
  display: flex;
  flex-direction: column;

  &.move {
    animation: anim_part 0.6s linear;
  }
}

@keyframes anim_part {
  0% {
    transform: rotate(180deg) scale(0);
    opacity: 0;
  }

  50% {
    transform: rotate(0) scale(1.5);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

.exsMain {
  font-size: 3.5em;
}

.exsHint {
  font-size: 1em;
  color: #38d6f3;
  display: block;
  white-space: nowrap;
}

.exsAskPart {
  color: #3eaef2;
}
