.Computer {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5vh;

  & > * {
    flex: 1;
  }

  @media screen and (orientation: portrait) {
    gap: 15vw;
  }

  @media (height < 500px) and (width > 500px) {
    flex-direction: row;;
  }
}
