.switcher {
  cursor: pointer;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: fit-content;
  padding: 0.4rem 0.6rem;
  font: inherit;
  font-weight: bold;
  font-size: 25px;
  text-shadow: -1px -1px 0px black;
  color: white;
  border: none;
  border-radius: 0.8em;
  background-color: blue;
  background-image: linear-gradient(#bdd7fa, #5d66b1 35.71%, #010767 38.24%, #40def7);
  box-shadow: 0px 1px 11px #0e6b87;

  &:hover {
    background-image: linear-gradient(#bdd7fa, #5d66b1 35.71%, #3b3f85 38.24%, #40def7);
  }
}
