.ColumnExsBtn {
  border: none;
  outline: none;
  background: none;
  font: inherit;
  font-size: 0.7em;
  color: inherit;
  padding: 0 3vw;
  font-weight: normal;
  transition: all 0.3s ease-in-out;
}

.columnTable {
  text-align: right;
  border-collapse: collapse;
}

.minusPlus {
  padding-right: 5px;
}

.columnTable tr:last-child {
  border-top: 1px solid white;
}

.exsAskPart {
  color: #3eaef2;
}
