@use 'sass:color';

@function darker($color, $tone) {
  $adjust: -16 * $tone;

  @return color.adjust($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

@mixin fontColor($color) {
  color: $color;
  text-shadow:
    0.05em 0.05em 0 darker($color, 8),
    0.03em -0.02em 0.02em #ffffff;
}

.KeyboardButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-image: linear-gradient(rgb(255 58 126), rgb(251 0 86));
  @include fontColor(rgb(60, 138, 221));
  font-family: var(--font-lobster);
  font-size: 2.5rem;
  border-radius: 999rem;
  width: 3rem;
  height: 3rem;
  outline: none;
  border: none;

  @media (width > 640px) {
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
  }

  &.shake {
    animation: jumping 0.2s ease-in-out infinite;

    @keyframes jumping {
      0%,
      100% {
        transform: none;
      }

      33% {
        transform: translateY(-1px) rotate(-2deg);
      }

      66% {
        transform: translateY(1px) rotate(2deg);
      }
    }
  }
}
