.TextButton {
  cursor: pointer;
  position: relative;
  padding: 0.5em 2em;
  font: inherit;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: -1px -1px 0px black;
  color: inherit;
  border: none;
  border-radius: 1em;
  background-color: blue;
  background-image: linear-gradient(#bdd7fa, #5d66b1 35.71%, #010767 38.24%, #40def7);
  box-shadow: 0px 1px 11px #0e6b87;
}

.TextButton:hover {
  background-image: linear-gradient(#bdd7fa, #5d66b1 35.71%, #3b3f85 38.24%, #40def7);
}
