.BtnWrapper {
  text-align: center;
}

.TextButton {
  cursor: pointer;
  position: relative;
  width: fit-content;
  padding: 2vh 7vh;
  font: inherit;
  font-weight: bold;
  font-size: 4vh;
  text-shadow: -1px -1px 0px black;
  color: white;
  border: none;
  border-radius: 1em;
  background-color: blue;
  background-image: linear-gradient(#bdd7fa, #5d66b1 35.71%, #010767 38.24%, #40def7);
  box-shadow: 0px 1px 11px #0e6b87;

  @media screen and (orientation: portrait) {
    font-size: 3.5vw;
    padding: 3vw 9vw;
  }

  &:hover {
    background-image: linear-gradient(#bdd7fa, #5d66b1 35.71%, #3b3f85 38.24%, #40def7);
  }
}

// .TextButton:hover {
//   background-image: linear-gradient(#bdd7fa, #5d66b1 35.71%, #3b3f85 38.24%, #40def7);
// }
